@use "./variables";

@mixin sansFonts($size, $font-weight, $color) {
  font-family: 'Open Sans', sans-serif;
  font-weight: $font-weight;
  font-size: $size;
  color: $color;
}

@mixin bg-image($bg-url) {
    max-width: 560px;
    background-size: auto 100%;
    background-image: $bg-url;
    background-repeat: no-repeat;
}