$color-pink: #F063B8;
$color-blue: #212353;
$color-purp: #9C69E2;
$color-black: #0000;
$color-wtite: #FFFFFF;
$color-gray: #4B5D68;
$color-tiffany: #68C9BA;




$border-red: 5px solid blue;

$font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
