@import "./reset";
@import "./variables";
@import "./mixins";
@import "./responsive";

html {
   background-color: $bg-color;
}

.wrapper {
   width: 100%;
   max-width: 1248px;
   margin: 0 auto;
}

