html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

*:where(:not(html, iframe, canvas, img, video, audio):not(svg, symbol)) {
  /*all: unset;*/
  display: revert;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:where(a, button) {
  cursor: pointer;
  outline: none;
  all: unset;
  display: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

::-webkit-input-placeholder {
  color: unset;
}

::-moz-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 7px;
}

/*/ Track /*/
::-webkit-scrollbar-track {
  background: transparent;
}

/*/ Handle /*/
::-webkit-scrollbar-thumb {
  background: #6b7c8a;
  border-radius: 10px;
}

/*/ Handle on hover /*/
::-webkit-scrollbar-thumb:hover {
  background: #6b7c8a;
}

html {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1248px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #4B5D68;
}

.logo {
  margin-right: 135px;
}

.allheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 111px;
}

.navigation a {
  margin-right: 45px;
  font-weight: 500;
}

.navigation a:hover {
  color: #292b4f;
  font-weight: 500;
}

.btn {
  margin-left: 420px;
}

.text-header h1 {
  color: #292b4f;
  font-weight: 700;
  font-size: 80px;
  max-width: 645px;
  width: 100%;
}

.content {
  font-size: 18px;
  font-weight: 500;
  max-width: 370px;
  width: 100%;
  color: #4B5D68;
  margin-bottom: 50px;
}

.bgimg {
  background-image: url(./assets/img/big-pictures/image1.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-top: 146px;
  height: 564px;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #292b4f;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #4B5D68;
}

.learn-more {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #F063B8;
  padding: 16px 37px;
  border-radius: 50px;
  border: 1px solid #F063B8;
}
.learn-more:hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
  border: 1px solid #FFFFFF;
  color: #F063B8;
}

.request-demo {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #292b4f;
  letter-spacing: 0.005em;
  background-color: #FFFFFF;
  padding: 17px 30px;
  border-radius: 50px;
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
}
.request-demo .arrow {
  padding-left: 20px;
}
.request-demo:hover {
  background-color: #292b4f;
  color: #FFFFFF;
}

.border-top {
  border-top: 2px solid #9C69E2;
  opacity: 0.2;
  padding-bottom: 100px;
}

.footer {
  padding: 0 65px;
}
@media (max-width: 1600px) {
  .footer {
    padding: 0 242px;
  }
}
.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__header__leftScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.footer__header__rightScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 140px;
  padding-top: 150px;
  padding-bottom: 93px;
  padding-right: 35px;
}
.footer__main__logo .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.footer__main__logo .logo__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #292b4f;
}
.footer__main__logo .street {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #292b4f;
  letter-spacing: 0.01em;
  line-height: 29px;
  padding-top: 65px;
  padding-bottom: 10px;
}
.footer__main__logo .street a:hover {
  color: rgba(33, 35, 83, 0.5);
}
.footer__main__logo .email {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #292b4f;
  letter-spacing: 0.01em;
  line-height: 29px;
}
.footer__main__logo .email a:hover {
  color: rgba(33, 35, 83, 0.5);
}
.footer__main__section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr 50px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.footer__main__section .block__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #292b4f;
  padding-bottom: 30px;
}
.footer__main__section .block__info .list {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #292b4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  padding-left: 0;
}
.footer__main__section .block__info .list__item__link:hover {
  color: rgba(33, 35, 83, 0.5);
}
.footer__main__section .block__svg {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}
.footer__main__section .block__svg svg {
  background-color: #212353;
  border-radius: 50px;
  opacity: 0.1;
}
.footer__main__section .block__svg svg:hover {
  opacity: 1;
}
.footer__copyright {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #292b4f;
  letter-spacing: 0.01em;
  line-height: 22px;
}

@media (max-width: 1000px) {
  .request-demo {
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #292b4f;
    letter-spacing: 0.005em;
    background-color: #FFFFFF;
    padding: 12px 20px;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    -webkit-box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
            box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
  }
  .request-demo .arrow {
    padding-left: 5px;
  }
}
.section--text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  color: #4B5D68;
}

.testimonials {
  max-width: 1118px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 150px;
  background-color: #9C69E2;
  border-radius: 50px;
  height: auto;
  padding-top: 110px;
  padding-left: 95px;
  padding-right: 95px;
  padding-bottom: 135px;
}
@media (max-width: 768px) {
  .testimonials {
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 100px;
  }
}
@media (max-width: 576px) {
  .testimonials {
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 70px;
  }
}
.testimonials .testimonials__title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
  margin-bottom: 85px;
}
@media (max-width: 768px) {
  .testimonials .testimonials__title {
    margin-bottom: 70px;
  }
}
@media (max-width: 576px) {
  .testimonials .testimonials__title {
    margin-bottom: 50px;
    text-align: center;
  }
}
.testimonials .testimonials__content {
  max-width: 645px;
  height: auto;
  margin: 0px auto;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 60px 70px 50px 70px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 15px 5px 0px #8d59d6;
          box-shadow: 0px 15px 5px 0px #8d59d6;
}
@media (max-width: 768px) {
  .testimonials .testimonials__content {
    padding: 50px 50px 40px 50px;
  }
}
@media (max-width: 576px) {
  .testimonials .testimonials__content {
    padding: 30px 20px 20px 20px;
  }
}
.testimonials .testimonials__content .testimonials__content__left {
  width: 90px;
}
.testimonials .testimonials__content .testimonials__content__left .testi--photo {
  -webkit-transform: scale(2);
          transform: scale(2);
}
@media (max-width: 768px) {
  .testimonials .testimonials__content .testimonials__content__left .testi--photo {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
@media (max-width: 576px) {
  .testimonials .testimonials__content .testimonials__content__left .testi--photo {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
.testimonials .testimonials__content__right__title {
  font-weight: 900;
  font-size: 18px;
  color: #292b4f;
}
.testimonials .testimonials__content__right__tag {
  font-weight: 500;
  font-size: 14px;
  color: #9C69E2;
  margin-bottom: 20px;
}
.testimonials .testimonials__content__right__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
}
/*# sourceMappingURL=style.css.map */