@import "./styles/reset.css";

* {
    transition: all .1s ease-in;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    background: #F2F2F2;
    color: #2F281E;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

h3 {
    font-weight: 600;
    font-size: 22px;
}

h4 {
    font-weight: 700;
}
a{
    text-decoration: none;
    color: #2F281E;
}

/* Nav */
header{
    display: flex;
    
}
a:hover{
    color: #FF9900;
}
/* Features */
.features>h2 {
    text-align: center;
}

.card {
    margin-top: 50px;
    gap: 40px;
    display: flex;
}

.card-all>h3 {
    width: 270px;
    padding-top: 30px;
    padding-bottom: 16px;
}